# Python
# Ignore the virtual environment folder (Task 1.3.2)
.venv/
venv/

# Ignore the Python cache
__pycache__/
*.

# Ignore MacOS metadata file
.DS_Store

# Node.js
# Ignore the dependencies folder
node_modules/

# VS Code
# Ignore editor-specific settings and packaged extension files (Task 4.3.3)
.vscode/
*.
images/

# Environment variables
# Ignore environment-specific files (e.g., for API keys)
.env
*.env